Repository jeanesdev/fundrbolt-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, bicep-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
        exclude: ^frontend/.*/tsconfig.*\.json$  # TypeScript config files use JSONC format
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy-ci
        name: Mypy (CI parity)
        entry: bash -c 'cd backend && poetry run mypy app --strict --ignore-missing-imports --exclude "app/tests"'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false
        always_run: true

  # Frontend and Bicep validation (local hooks)
  - repo: local
    hooks:
      # Frontend ESLint
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend/fundrbolt-admin && pnpm lint'
        language: system
        files: ^frontend/fundrbolt-admin/src/.*\.[jt]sx?$
        pass_filenames: false

      # Frontend Type Check
      - id: frontend-typecheck
        name: Frontend Type Check
        entry: bash -c 'cd frontend/fundrbolt-admin && pnpm type-check'
        language: system
        files: ^frontend/fundrbolt-admin/src/.*\.[jt]sx?$
        pass_filenames: false

      # Bicep Build Validation
      - id: bicep-build
        name: Bicep Build Validation
        entry: bash -c 'for file in "$@"; do echo "Validating $file..."; output=$(az bicep build --file "$file" 2>&1); if echo "$output" | grep -q "Error "; then echo "$output"; exit 1; else echo "$output" | grep -i "warning" || true; fi; done' --
        language: system
        files: ^infrastructure/bicep/.*\.bicep$
        pass_filenames: true

      - id: ci-mirror
        name: CI mirror (lint, format, build)
        entry: bash -c 'cd frontend/fundrbolt-admin && pnpm lint && pnpm type-check && pnpm build'
        language: system
        pass_filenames: false

docs(reports): add spec, plan, tasks, contracts for feature 045
  .specify/specs/045-printable-reports/analyze.md
  .specify/specs/045-printable-reports/checklists/requirements.md
  .specify/specs/045-printable-reports/contracts/reports-api.yaml
  .specify/specs/045-printable-reports/data-model.md
  .specify/specs/045-printable-reports/plan.md
  .specify/specs/045-printable-reports/quickstart.md
  .specify/specs/045-printable-reports/research.md
  .specify/specs/045-printable-reports/spec.md
  .specify/specs/045-printable-reports/tasks.md
Due: none

feat(reports): add printable PDF reports (event summary, bid cards, auctioneer)
  backend/app/api/v1/__init__.py
  backend/app/api/v1/admin_reports.py
  backend/app/schemas/reports.py
  backend/app/services/auctioneer_report_service.py
  backend/app/services/bid_card_service.py
  backend/app/services/event_report_service.py
  backend/app/services/report_utils.py
  backend/app/templates/reports/auctioneer_report.html
  backend/app/templates/reports/bid_cards.html
  backend/app/templates/reports/event_report.html
  backend/app/tests/contract/test_admin_reports_api.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/fundrbolt-admin/src/components/reports/BidCardSizeDialog.tsx
  frontend/fundrbolt-admin/src/components/reports/DownloadReportButton.tsx
  frontend/fundrbolt-admin/src/features/auctioneer/pages/AuctioneerDashboardPage.tsx
  frontend/fundrbolt-admin/src/features/event-dashboard/pages/EventDashboardPage.tsx
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
  frontend/fundrbolt-admin/src/services/reportService.ts
Due: frontend-lint, frontend-typecheck

docs(reports): add manual testing guide for feature 045
  docs/testing/045-printable-reports-testing-guide.md
Due: none

fix(reports): address Copilot review comments
  backend/app/api/v1/admin_reports.py
  backend/app/services/bid_card_service.py
  backend/app/services/report_utils.py
  backend/app/templates/reports/bid_cards.html
Due: none

feat(reports): add bid card content options and event logo
  backend/app/api/v1/admin_reports.py
  backend/app/schemas/reports.py
  backend/app/services/bid_card_service.py
  backend/app/templates/reports/bid_cards.html
  frontend/fundrbolt-admin/src/components/reports/BidCardSizeDialog.tsx
  frontend/fundrbolt-admin/src/services/reportService.ts
Due: frontend-lint, frontend-typecheck

feat(reports): async auctioneer report with persistent download toast
  frontend/fundrbolt-admin/src/features/auctioneer/pages/AuctioneerDashboardPage.tsx
  frontend/fundrbolt-admin/src/services/reportService.ts
Due: frontend-lint, frontend-typecheck

feat(reports): add FundrBolt logo, fix chart sizing, expand event report with donor & auction data
  backend/app/services/auctioneer_report_service.py
  backend/app/services/event_report_service.py
  backend/app/services/report_utils.py
  backend/app/templates/assets/fundrbolt-logo-navy-gold.png
  backend/app/templates/reports/auctioneer_report.html
  backend/app/templates/reports/bid_cards.html
  backend/app/templates/reports/event_report.html
  frontend/fundrbolt-admin/src/components/reports/BidCardSizeDialog.tsx
  frontend/fundrbolt-admin/src/components/reports/DownloadReportButton.tsx
  frontend/fundrbolt-admin/src/features/auctioneer/pages/AuctioneerDashboardPage.tsx
  frontend/fundrbolt-admin/src/features/event-dashboard/pages/EventDashboardPage.tsx
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
Due: frontend-lint, frontend-typecheck

fix(event-dashboard): stack header vertically on mobile for clarity
  frontend/fundrbolt-admin/src/features/event-dashboard/pages/EventDashboardPage.tsx
Due: frontend-lint, frontend-typecheck

feat(event-dashboard): background download with persistent toast like auctioneer report
  frontend/fundrbolt-admin/src/features/event-dashboard/pages/EventDashboardPage.tsx
  frontend/fundrbolt-admin/src/services/reportService.ts
Due: frontend-lint, frontend-typecheck

fix(auction-items): mobile header, image errors, tent bid card formats
  backend/app/schemas/reports.py
  backend/app/services/bid_card_service.py
  backend/app/templates/reports/bid_cards_tent.html
  frontend/fundrbolt-admin/src/components/reports/BidCardSizeDialog.tsx
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
  frontend/fundrbolt-admin/src/features/events/components/AuctionItemCard.tsx
  frontend/fundrbolt-admin/src/services/reportService.ts
Due: frontend-lint, frontend-typecheck

fix(bid-cards): sign Azure Blob URLs with SAS tokens, reserve image zone
  backend/app/services/bid_card_service.py
  backend/app/templates/reports/bid_cards.html
  backend/app/templates/reports/bid_cards_tent.html
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
  frontend/fundrbolt-admin/src/features/events/components/AuctionItemCard.tsx
Due: frontend-lint, frontend-typecheck

feat(bid-cards): background generation with persistent download button
  frontend/fundrbolt-admin/src/components/reports/BidCardSizeDialog.tsx
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
  frontend/fundrbolt-admin/src/services/reportService.ts
Due: frontend-lint, frontend-typecheck

fix(bid-cards): restore correct page size in label template
  backend/app/templates/reports/bid_cards.html
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
Due: frontend-lint, frontend-typecheck

perf(bid-cards): resize images before embedding in PDF HTML
  backend/app/services/report_utils.py
Due: none

fix(bid-cards): landscape tent fold + preserve image aspect ratio
  backend/app/schemas/reports.py
  backend/app/templates/reports/bid_cards.html
  backend/app/templates/reports/bid_cards_tent.html
Due: none

feat(reports): add all dashboard sections to event summary report
  backend/app/schemas/reports.py
  backend/app/services/event_report_service.py
  backend/app/templates/reports/bid_cards.html
  backend/app/templates/reports/bid_cards_tent.html
  backend/app/templates/reports/event_report.html
  frontend/fundrbolt-admin/src/services/reportService.ts
Due: frontend-lint, frontend-typecheck

fix(ci): reformat event_report_service and update nav test count
  backend/app/services/event_report_service.py
  frontend/fundrbolt-admin/src/hooks/__tests__/use-role-based-nav.test.ts
Due: frontend-lint, frontend-typecheck

feat: improve printable bid card reports
  .prettierignore
  .vscode/settings.json
  backend/app/schemas/reports.py
  backend/app/services/bid_card_service.py
  backend/app/services/report_utils.py
  backend/app/templates/reports/bid_cards.html
  backend/app/templates/reports/bid_cards_tent.html
  backend/app/templates/reports/event_report.html
  frontend/fundrbolt-admin/src/components/reports/BidCardSizeDialog.tsx
  frontend/fundrbolt-admin/src/components/reports/DownloadReportButton.tsx
  frontend/fundrbolt-admin/src/features/auctioneer/components/CommissionGallery.tsx
  frontend/fundrbolt-admin/src/features/auctioneer/pages/AuctioneerDashboardPage.tsx
  frontend/fundrbolt-admin/src/features/event-dashboard/pages/EventDashboardPage.tsx
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
  frontend/fundrbolt-admin/src/features/events/components/AuctionItemCard.tsx
  frontend/fundrbolt-admin/src/features/events/components/AuctionItemForm.tsx
  frontend/fundrbolt-admin/src/services/reportService.ts
Due: frontend-lint, frontend-typecheck

feat(046): beta deployment pipeline — Container Apps, Sentry, CI/CD production-only
  .github/workflows/backend-deploy.yml
  .github/workflows/frontend-deploy.yml
  .github/workflows/landing-site-deploy.yml
  .specify/specs/046-beta-deployment/checklists/requirements.md
  .specify/specs/046-beta-deployment/plan.md
  .specify/specs/046-beta-deployment/spec.md
  .specify/specs/046-beta-deployment/tasks.md
  backend/.dockerignore
  backend/Dockerfile
  backend/app/core/config.py
  backend/app/main.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/donor-pwa/package.json
  frontend/donor-pwa/src/main.tsx
  frontend/donor-pwa/vite.config.ts
  frontend/fundrbolt-admin/package.json
  frontend/fundrbolt-admin/src/main.tsx
  frontend/fundrbolt-admin/vite.config.ts
  frontend/landing-site/package.json
  frontend/landing-site/src/main.tsx
  frontend/landing-site/vite.config.ts
  infrastructure/bicep/main-beta.bicep
  infrastructure/bicep/modules/container-app.bicep
  infrastructure/bicep/modules/container-apps-env.bicep
  infrastructure/bicep/modules/donor-static-web-app.bicep
  infrastructure/bicep/modules/log-analytics.bicep
  infrastructure/bicep/modules/static-web-app.bicep
  infrastructure/bicep/parameters/production-beta.bicepparam
  infrastructure/scripts/run-migrations-container-apps.sh
  pnpm-lock.yaml
Due: frontend-lint, frontend-typecheck, bicep-build

fix(bicep): remove invalid escape sequences in @description annotations
  infrastructure/bicep/modules/donor-static-web-app.bicep
  infrastructure/bicep/modules/static-web-app.bicep
Due: bicep-build

fix(046): address Copilot review comments
  .github/workflows/backend-deploy.yml
  infrastructure/bicep/main-beta.bicep
  infrastructure/bicep/modules/container-app.bicep
  infrastructure/bicep/modules/container-apps-env.bicep
  infrastructure/bicep/modules/log-analytics.bicep
  infrastructure/bicep/modules/static-web-app.bicep
  infrastructure/scripts/run-migrations-container-apps.sh
Due: bicep-build

docs(046): add manual setup and testing guide for beta deployment
  docs/046-beta-deployment-manual-setup.md
Due: none

feat: add automated setup scripts for Azure beta deployment
  .gitignore
  docs/046-beta-deployment-manual-setup.md
  frontend/landing-site/vite.config.ts
  infrastructure/bicep/main-beta.bicep
  infrastructure/bicep/modules/container-app.bicep
  scripts/setup/00-install-prerequisites.sh
  scripts/setup/01-azure-login.sh
  scripts/setup/02-register-providers.sh
  scripts/setup/03-create-service-principal.sh
  scripts/setup/04-deploy-infrastructure.sh
  scripts/setup/05-populate-keyvault.sh
  scripts/setup/06-set-github-secrets.sh
  scripts/setup/07-trigger-deployment.sh
  scripts/setup/08-run-migrations.sh
  scripts/setup/README.md
  scripts/setup/run-setup.sh
Due: bicep-build

fix: move KV role assignments to resource-group-scope module
  infrastructure/bicep/main-beta.bicep
  infrastructure/bicep/modules/kv-rbac.bicep
  scripts/setup/01-azure-login.sh
Due: bicep-build

fix: remove unsupported communicationServices/domains link resource
  infrastructure/bicep/modules/communication.bicep
Due: bicep-build

fix: resolve 4 Bicep deployment errors (appinsights pricing, redis aof, storage public access, eastus2)
  infrastructure/bicep/modules/monitoring.bicep
  infrastructure/bicep/modules/redis.bicep
  infrastructure/bicep/modules/storage.bicep
  infrastructure/bicep/parameters/production-beta.bicepparam
  scripts/setup/04-deploy-infrastructure.sh
Due: bicep-build

fix: deploy postgres to eastus2 (eastus restricted), keep other resources in eastus
  infrastructure/bicep/main-beta.bicep
  infrastructure/bicep/parameters/production-beta.bicepparam
  scripts/setup/04-deploy-infrastructure.sh
Due: bicep-build

fix: rename postgres server to avoid ARM ghost location conflict
  infrastructure/bicep/main-beta.bicep
Due: bicep-build

fix: disable ZoneRedundant HA for postgres (eastus2); use placeholder container image
  infrastructure/bicep/main-beta.bicep
  infrastructure/bicep/modules/database.bicep
Due: bicep-build

fix: use placeholder image for initial container app deployment
  infrastructure/bicep/parameters/production-beta.bicepparam
Due: none

fix(infra): remove removed communication module outputs from main.bicep
  infrastructure/bicep/main.bicep
Due: bicep-build

fix(ci): fix Docker build, pnpm version, and Azure OIDC federated credential
  .github/workflows/donor-pwa-deploy.yml
  .github/workflows/frontend-deploy.yml
  .github/workflows/landing-site-deploy.yml
  .github/workflows/pr-checks.yml
  .gitignore
  backend/Dockerfile
  infrastructure/bicep/modules/database.bicep
  scripts/setup/03-create-service-principal.sh
  scripts/setup/05-populate-keyvault.sh
Due: bicep-build

fix(ci): fix SWA 'too many files' and add missing OIDC environment credentials
  .github/workflows/donor-pwa-deploy.yml
  .github/workflows/frontend-deploy.yml
  .github/workflows/landing-site-deploy.yml
  scripts/setup/03-create-service-principal.sh
Due: none

fix(ci): make post-deploy URL verification non-fatal
  .github/workflows/donor-pwa-deploy.yml
  .github/workflows/frontend-deploy.yml
  .github/workflows/landing-site-deploy.yml
Due: none

fix(ci): use full SHA tag for Docker image to match deployment reference
  .github/workflows/backend-deploy.yml
Due: none

fix(ci): add continue-on-error to health check step (DNS not yet configured)
  .github/workflows/backend-deploy.yml
Due: none

fix(sentry): skip init when DSN is not a valid URL (handles 'disabled'/'placeholder')
  backend/app/main.py
Due: none

fix(config): give defaults to email_from_address, super_admin_email, super_admin_password
  backend/app/core/config.py
Due: none

fix(migrations): restore user address and organization_name columns
  backend/alembic/versions/restore_user_address_org_fields.py
Due: none

fix(admin): upsert super admin credentials on migration run
  backend/alembic/versions/fix_admin_credentials_001.py
  infrastructure/scripts/run-migrations-container-apps.sh
Due: none
