Repository jeanesdev/fundrbolt-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, bicep-build

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend/fundrbolt-admin && pnpm lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check
  entry: bash -c 'cd frontend/fundrbolt-admin && pnpm type-check'
  language: system
  pass_filenames: false

bicep-build:
  name: Bicep Build Validation
  entry: bash -c 'for file in "$@"; do echo "Validating $file..."; output=$(az bicep build --file "$file" 2>&1); if echo "$output" | grep -q "Error "; then echo "$output"; exit 1; else echo "$output" | grep -i "warning" || true; fi; done' --
  language: system
  ...

style(donor-pwa): bump bottom nav height 64px -> 80px
  frontend/donor-pwa/src/components/event-home/BottomTabNav.tsx
  frontend/donor-pwa/src/components/layout/bottom-nav.tsx
  frontend/donor-pwa/src/routes/_authenticated/settings/other.tsx
  frontend/donor-pwa/src/routes/events.$slug.index.tsx
  frontend/donor-pwa/src/styles/index.css
Due: none

fix(pwa): eliminate SW/client reload race causing iOS freeze
  frontend/donor-pwa/public/staticwebapp.config.json
  frontend/donor-pwa/src/features/auth/complete-profile/index.tsx
  frontend/donor-pwa/src/routes/_authenticated/route.tsx
  frontend/donor-pwa/src/sw.ts
  frontend/shared/src/pwa/update-notification.tsx
Due: none

fix(donor-pwa): profile wizard skipped after social login
  frontend/donor-pwa/src/features/auth/complete-profile/index.tsx
  frontend/donor-pwa/src/routes/_authenticated/route.tsx
Due: none

feat(social-auth): fetch Microsoft profile picture via Graph API on login
  backend/app/services/social_auth_service.py
Due: none

fix(donor-pwa): prevent leading 1 from compounding in profile cell number input
  frontend/donor-pwa/src/features/settings/profile/index.tsx
Due: none

fix: Apple Sign In - use form_post with backend relay endpoint
  backend/app/api/v1/auth.py
  backend/app/services/social_auth_service.py
Due: none

feat(auth): Facebook pic and account linking
  backend/app/services/social_auth_service.py
  frontend/donor-pwa/src/features/auth/complete-profile/index.tsx
  frontend/donor-pwa/src/features/auth/social-callback/index.tsx
  frontend/donor-pwa/src/lib/axios.ts
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
  frontend/fundrbolt-admin/src/lib/axios.ts
Due: frontend-lint, frontend-typecheck

fix(deps): update python-dotenv and python-multipart to patch CVEs
  .github/prompts/publishandwatch.prompt.md
  backend/poetry.lock
  backend/pyproject.toml
Due: none

fix(auth): show email on link confirmation, Google account picker, PR-based publish
  backend/app/services/social_auth_service.py
  frontend/donor-pwa/src/features/auth/social-callback/index.tsx
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
  scripts/publish.sh
Due: frontend-lint, frontend-typecheck

fix(auth): address Copilot review - slug safety, unit tests for prefill_email and Google prompt
  backend/app/tests/unit/test_social_auth_link_confirmation_schema.py
  backend/app/tests/unit/test_social_auth_url_building.py
  scripts/publish.sh
Due: none

fix(auth): show email on link confirmation, Google account picker, PR-based publish (#118)
  backend/app/services/social_auth_service.py
  backend/app/tests/unit/test_social_auth_link_confirmation_schema.py
  backend/app/tests/unit/test_social_auth_url_building.py
  frontend/donor-pwa/src/features/auth/social-callback/index.tsx
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
  scripts/publish.sh
Due: frontend-lint, frontend-typecheck

fix(auth): hide token field when provided via URL on password reset form
  frontend/donor-pwa/src/features/auth/password-reset-confirm/components/password-reset-confirm-form.tsx
  frontend/fundrbolt-admin/src/features/auth/password-reset-confirm/components/password-reset-confirm-form.tsx
Due: frontend-lint, frontend-typecheck

fix(auth): hide token field when provided via URL on password reset form (#119)
  frontend/donor-pwa/src/features/auth/password-reset-confirm/components/password-reset-confirm-form.tsx
  frontend/fundrbolt-admin/src/features/auth/password-reset-confirm/components/password-reset-confirm-form.tsx
Due: frontend-lint, frontend-typecheck

feat(legal): add public data deletion instructions page for Meta app review
  frontend/donor-pwa/.tanstack/tmp/07e31b3f-9d10aff11db09696f013911055791290
  frontend/donor-pwa/src/pages/legal/data-deletion.tsx
  frontend/donor-pwa/src/pages/legal/index.ts
  frontend/donor-pwa/src/routeTree.gen.ts
  frontend/donor-pwa/src/routes/(auth)/data-deletion.tsx
Due: none

feat(legal): add public data deletion instructions page for Meta app review (#120)
  frontend/donor-pwa/.tanstack/tmp/07e31b3f-9d10aff11db09696f013911055791290
  frontend/donor-pwa/src/pages/legal/data-deletion.tsx
  frontend/donor-pwa/src/pages/legal/index.ts
  frontend/donor-pwa/src/routeTree.gen.ts
  frontend/donor-pwa/src/routes/(auth)/data-deletion.tsx
Due: none

fix: eagerly load user.role in social auth to fix admin Microsoft sign-in
  backend/app/services/social_auth_service.py
Due: none

feat: show version number and update banner on admin sign-in screen
  frontend/fundrbolt-admin/src/components/legal/legal-footer.tsx
  frontend/fundrbolt-admin/src/routes/__root.tsx
  frontend/fundrbolt-admin/src/vite-env.d.ts
  frontend/fundrbolt-admin/vite.config.ts
Due: frontend-lint, frontend-typecheck

fix: eagerly load user.role in social auth to fix admin Microsoft sign-in (#121)
  backend/app/services/social_auth_service.py
  frontend/fundrbolt-admin/src/components/legal/legal-footer.tsx
  frontend/fundrbolt-admin/src/routes/__root.tsx
  frontend/fundrbolt-admin/src/vite-env.d.ts
  frontend/fundrbolt-admin/vite.config.ts
Due: frontend-lint, frontend-typecheck

fix: show Microsoft account picker on sign-in (add prompt=select_account)
  backend/app/services/social_auth_service.py
Due: none

fix: show password form for admin_step_up_required in social callback
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
Due: frontend-lint, frontend-typecheck

fix: show password form for admin_step_up_required in social callback
  backend/app/tests/unit/test_social_auth_url_building.py
Due: none

feat/fix eagerly load userrole in social auth to fix ad (#122)
  backend/app/services/social_auth_service.py
  backend/app/tests/unit/test_social_auth_url_building.py
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
Due: frontend-lint, frontend-typecheck

feat: add pull-to-refresh and fix update banner on admin PWA
  frontend/fundrbolt-admin/src/components/legal/legal-footer.tsx
  frontend/fundrbolt-admin/src/components/reports/BidCardSizeDialog.tsx
  frontend/fundrbolt-admin/src/components/ui/dropdown-menu.tsx
  frontend/fundrbolt-admin/src/features/auctioneer/pages/AuctioneerDashboardPage.tsx
  frontend/fundrbolt-admin/src/features/auth/complete-profile/index.tsx
  frontend/fundrbolt-admin/src/features/auth/password-reset-confirm/components/password-reset-confirm-form.tsx
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
  frontend/fundrbolt-admin/src/lib/axios.ts
  frontend/fundrbolt-admin/src/main.tsx
  frontend/fundrbolt-admin/src/routes/__root.tsx
  frontend/fundrbolt-admin/src/services/auctioneerService.ts
  frontend/fundrbolt-admin/src/services/reportService.ts
  frontend/fundrbolt-admin/src/stores/cookie-store.ts
  frontend/fundrbolt-admin/src/styles/index.css
  frontend/fundrbolt-admin/tsconfig.json
  frontend/fundrbolt-admin/vite.config.ts
Due: frontend-lint, frontend-typecheck

feat/fix eagerly load userrole in social auth to fix ad (#123)
  frontend/fundrbolt-admin/src/components/legal/legal-footer.tsx
  frontend/fundrbolt-admin/src/components/reports/BidCardSizeDialog.tsx
  frontend/fundrbolt-admin/src/components/ui/dropdown-menu.tsx
  frontend/fundrbolt-admin/src/features/auctioneer/pages/AuctioneerDashboardPage.tsx
  frontend/fundrbolt-admin/src/features/auth/complete-profile/index.tsx
  frontend/fundrbolt-admin/src/features/auth/password-reset-confirm/components/password-reset-confirm-form.tsx
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
  frontend/fundrbolt-admin/src/features/events/auction-items/AuctionItemsIndexPage.tsx
  frontend/fundrbolt-admin/src/lib/axios.ts
  frontend/fundrbolt-admin/src/main.tsx
  frontend/fundrbolt-admin/src/routes/__root.tsx
  frontend/fundrbolt-admin/src/services/auctioneerService.ts
  frontend/fundrbolt-admin/src/services/reportService.ts
  frontend/fundrbolt-admin/src/stores/cookie-store.ts
  frontend/fundrbolt-admin/src/styles/index.css
  frontend/fundrbolt-admin/tsconfig.json
  frontend/fundrbolt-admin/vite.config.ts
Due: frontend-lint, frontend-typecheck

fix: admin step-up social login uses password verification instead of opaque token
  backend/app/api/v1/auth.py
  backend/app/schemas/social_auth.py
  backend/app/services/social_auth_service.py
  backend/app/tests/contract/test_social_auth_admin_step_up.py
  backend/app/tests/integration/test_social_auth_flow.py
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
  frontend/fundrbolt-admin/src/lib/axios.ts
Due: frontend-lint, frontend-typecheck

feat/fix eagerly load userrole in social auth to fix ad (#124)
  backend/app/api/v1/auth.py
  backend/app/schemas/social_auth.py
  backend/app/services/social_auth_service.py
  backend/app/tests/contract/test_social_auth_admin_step_up.py
  backend/app/tests/integration/test_social_auth_flow.py
  frontend/fundrbolt-admin/src/features/auth/social-callback/index.tsx
  frontend/fundrbolt-admin/src/lib/axios.ts
Due: frontend-lint, frontend-typecheck

fix: social auth profile fetch - use /users/me instead of /auth/me
  frontend/fundrbolt-admin/src/stores/auth-store.ts
Due: frontend-lint, frontend-typecheck

fix: Apple relay redirects to correct frontend (admin vs donor) based on app_context
  backend/app/api/v1/auth.py
  frontend/fundrbolt-admin/src/stores/auth-store.ts
Due: frontend-lint, frontend-typecheck

fix: Facebook sign-in relay + Apple relay app_context comparison
  backend/app/api/v1/auth.py
  backend/app/services/social_auth_service.py
Due: none

fix: replace flyout sub-menus with inline accordion in profile dropdown to fix mobile overflow
  frontend/fundrbolt-admin/src/components/profile-dropdown.tsx
  frontend/fundrbolt-admin/src/features/auth/auth-layout.tsx
Due: frontend-lint, frontend-typecheck

fix: replace flyout sub-menus with inline accordion in profile dropdown to fix mobile overflow
  frontend/fundrbolt-admin/src/components/profile-dropdown.tsx
Due: frontend-lint, frontend-typecheck

fix(admin): fix event icon chip and auctioneer sticky header
  frontend/fundrbolt-admin/src/components/layout/authenticated-layout.tsx
  frontend/fundrbolt-admin/src/components/layout/top-nav-bar.tsx
Due: frontend-lint, frontend-typecheck

feat/fix eagerly load userrole in social auth to fix ad (#125)
  backend/app/api/v1/auth.py
  backend/app/services/social_auth_service.py
  frontend/fundrbolt-admin/src/components/layout/authenticated-layout.tsx
  frontend/fundrbolt-admin/src/components/layout/top-nav-bar.tsx
  frontend/fundrbolt-admin/src/components/profile-dropdown.tsx
  frontend/fundrbolt-admin/src/features/auth/auth-layout.tsx
  frontend/fundrbolt-admin/src/stores/auth-store.ts
Due: frontend-lint, frontend-typecheck

fix: correct FRONTEND_ADMIN_URL in Bicep (admin.fundrbolt.com not app.fundrbolt.com)
  frontend/fundrbolt-admin/src/components/layout/authenticated-layout.tsx
  frontend/fundrbolt-admin/src/components/layout/top-nav-bar.tsx
  infrastructure/bicep/main-beta.bicep
Due: frontend-lint, frontend-typecheck, bicep-build

feat/fix eagerly load userrole in social auth to fix ad (#126)
  frontend/fundrbolt-admin/src/components/layout/authenticated-layout.tsx
  frontend/fundrbolt-admin/src/components/layout/top-nav-bar.tsx
  infrastructure/bicep/main-beta.bicep
Due: frontend-lint, frontend-typecheck, bicep-build

fix: admin PWA social auth comms email display, complete-profile wizard, and version increment
  .github/workflows/frontend-deploy.yml
  frontend/fundrbolt-admin/src/components/layout/nav-user.tsx
  frontend/fundrbolt-admin/src/features/auth/complete-profile/index.tsx
  frontend/fundrbolt-admin/src/routes/_authenticated/settings/support.tsx
  frontend/fundrbolt-admin/src/stores/auth-store.ts
Due: frontend-lint, frontend-typecheck

fix: admin PWA social auth comms email display, complete-profile wizard, and version increment (#127)
  .github/workflows/frontend-deploy.yml
  frontend/fundrbolt-admin/src/components/layout/nav-user.tsx
  frontend/fundrbolt-admin/src/features/auth/complete-profile/index.tsx
  frontend/fundrbolt-admin/src/routes/_authenticated/settings/support.tsx
  frontend/fundrbolt-admin/src/stores/auth-store.ts
Due: frontend-lint, frontend-typecheck

fix: require admin step-up password only on first social login per identity
  backend/alembic/versions/social_auth_003_step_up_verified.py
  backend/app/models/social_identity_link.py
  backend/app/services/social_auth_service.py
Due: none

fix: add auctioneer to role schema + require npo_id for staff/auctioneer; add comms email to profile settings
  backend/app/schemas/users.py
  backend/app/services/user_service.py
  frontend/fundrbolt-admin/src/components/profile-dropdown.tsx
  frontend/fundrbolt-admin/src/features/auth/complete-profile/index.tsx
  frontend/fundrbolt-admin/src/features/settings/profile/index.tsx
  frontend/fundrbolt-admin/src/features/users/components/role-assignment-dialog.tsx
Due: frontend-lint, frontend-typecheck

fix: require admin step-up password only on first social login per identity (#128)
  backend/alembic/versions/social_auth_003_step_up_verified.py
  backend/app/models/social_identity_link.py
  backend/app/schemas/users.py
  backend/app/services/social_auth_service.py
  backend/app/services/user_service.py
  frontend/fundrbolt-admin/src/components/profile-dropdown.tsx
  frontend/fundrbolt-admin/src/features/auth/complete-profile/index.tsx
  frontend/fundrbolt-admin/src/features/settings/profile/index.tsx
  frontend/fundrbolt-admin/src/features/users/components/role-assignment-dialog.tsx
Due: frontend-lint, frontend-typecheck

Path conditions:
  frontend-lint: any of: ^frontend/fundrbolt-admin/src/.*\.[jt]sx?$
  frontend-typecheck: any of: ^frontend/fundrbolt-admin/src/.*\.[jt]sx?$
  bicep-build: any of: ^infrastructure/bicep/.*\.bicep$
